  
  <section class="container-fluid main-section">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <img class="logo" src="assets/images/logo.png">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4 col-md-offset-4">
                 <img class="img-cent home-icon" src="assets/images/icons.png">
                 <div class="col-sm-12 form-sec">
                   <form [formGroup]="form" (submit)="onforgotSubmit()">
                   
                     <div class="form-group">
                      <input formControlName="new_password" type="password"  name="new_password" class="form-control log-input" placeholder="new_Password">
                    </div>

                 
                    <div class="form-group">
                       
                      <input formControlName="old_password"  type="email"  name="old_password" class="form-control log-input" placeholder="Old password">
                    </div>

          
                     <div class="form-group">
                       <button [disabled]="!form.valid || processing"class="login-btn">Change Password</button>
                     </div>
                   </form>
                 </div>
  
      </div>
    </div>
  </section>


