/* body { */
    /* background-color: #fff !important; */
    /* background-size: cover; */
    /* -moz-background-size: cover; */
    /* -webkit-background-size: cover; */
    /* -ms-background-size: cover; */
    /* -o-background-size: cover; */
    /* margin-top: 0; */
/* } */
/****************login-start********************/

@media only screen and (min-width: 767px){
	div.body-bg {
		margin-top:-50px!important;
    background: url(/assets/image/body-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

}
.no-padding{
	padding-left:0px;
	padding-right:0px;
}
.login-tab ul.nav-tabs{
	display:table;
	text-align:center;
	border-bottom:0px;
	margin:0 auto;
    border-radius: 10px 10px 0px 0px;
	overflow:hidden;
}








/*loader*/
.loaderCntr{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:99998;
	background:rgba(0,0,0,0.5);
	display:none;
}
.loader{
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-45px;
	z-index:99999;
}
.loader .loadergif{
	width:100%;
	height:100%;
}
.loader .loadergif img{
	width:100%;
	height:100%;
}
/*loader end*/




