

<section class="container-fluid dasboard-main">

<div class="col-sm-12">
    <div class="col-sm-12">
         <p class="main-titel">Accounts</p>
    </div>
  <div class="col-sm-12">
      <div class="col-sm-10 account-list">
        <div class="col-sm-12 padd0 account-list-head">
         <div class="col-sm-2 item">No</div>
         <div class="col-sm-6 item">Use Case</div>
         <div class="col-sm-4 item">Action</div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">01</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">02</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">03</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">04</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">05</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">06</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
        <div class="col-sm-12 padd0 account-list-item email">
         <div class="col-sm-2 item">07</div>
         <div class="col-sm-6 item">Welcome</div>
         <div class="col-sm-4 item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a> <a data-toggle="modal" data-target="#email-edit" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div>
        </div>
      </div>
  </div> 

</div>




</section>

